<%= form_for(@sign_type) do |f| %>
  <% if @sign_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_type.errors.count, "error") %> prohibited this sign_type from being saved:</h2>

      <ul>
      <% @sign_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sign_type %><br />
    <%= f.text_field :sign_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
