<h1>Listing fifas</h1>

<table>
  <tr>
    <th>First name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fifas.each do |fifa| %>
  <tr>
    <td><%= fifa.first_name %></td>
    <td><%= link_to 'Show', fifa %></td>
    <td><%= link_to 'Edit', edit_fifa_path(fifa) %></td>
    <td><%= link_to 'Destroy', fifa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fifa', new_fifa_path %>
